*{
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}

body{
	background-color: #111;
	color: #eee;
	width: 500px;
	height: 600px;
	font-size: 14px;
}

main{
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	padding: 4pt 4pt;
	width: 100%;
	height: 100%;
	gap: 4pt;
}

#content{
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 8pt;
	gap: 4pt;
	overflow: auto;
}

#content .container{
	background-color: #222;
	border-radius: 4px;
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 4pt 8pt;
	gap: 4pt;
}

#content .container > header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 4pt;
}

#content .container > .content{
	overflow-wrap: break-word;
	overflow: auto;
	line-height: 1.6em;
}

#content .container > header > .username,
#content .container > header > .answerId{
	font-size: 1.2rem;
	font-weight: 500;
	color: white;
}

#content .container > header > .username{
	flex: 1;
}

#content .container > header > .answerId{
	flex-shrink: 0;
}

#content .container > .content{
	text-align: justify;
}

#content::-webkit-scrollbar{
	width: 0.5rem;
	height: 0.5rem;
}

#content::-webkit-scrollbar-thumb{
	border-radius: 7px;
	background: linear-gradient(#2563eb, #9333ea);
}

#content::-webkit-scrollbar-track{
	background: #372b47;
}

button#getAnswers{
	background-color: #333;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 4pt 10pt;
	margin-top: 4pt;
	margin-bottom: 4pt;
	border-radius: 15px;
	box-shadow: 0 0 5px #eee;
	cursor: pointer;
}

button#getAnswers ~ .error{
	color: rgb(200, 60, 60);
	font-size: 0.9em;
	font-weight: 500;
}
